body {
    background: linear-gradient(to right, #200a46, #180547, #081136);
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    margin: 0;
}
.navbar {
    background-color: rgba(26, 26, 59, 0.49);
    border-bottom: 2px solid rgba(90, 27, 167, 0.69);
}
.navbar-brand {
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    color: #fafb63;
}

.navbar-brand a:hover {
   color: yellow;
}
.logo-escape{
    width: 60px;
}

.sala-card a {
    text-decoration: none;
    color:white;
}

.sala-card {
    --bg-image: none;
    position: relative;
    background-color: rgba(0, 0, 0, 0.38);
    border: none;
    border-radius: 20px;
    padding: 35px;
    min-width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: transform 0.4s ease, background-color 0.4s ease;
    overflow: hidden;
    z-index: 0;
}

/* Imagen de fondo que solo aparece en hover */
.sala-card::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: -1;
    border-radius: 20px;
    filter: brightness(0.6);
}

.sala-card:hover::before {
    opacity: 1;
}

.sala-card:hover {
    background-color: rgba(44, 44, 44, 0.41);
    transform: scale(1.01);
    z-index: 10;
}

.texto-card{
    color:white;
    padding-bottom: 10px;
}
.sala-card img {
    width: 120px;
    height: 140px;
    margin-bottom: 20px;
    transition: opacity 0.4s ease;
}

.sala-card:hover img {
    opacity: 0;
}

.sala-card h5{
    font-weight: bold;
    font-size: 1.8rem;
    font-family: 'Rajdhani', sans-serif;
    color: #fafb63;
}


.lock-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
}
.disabled-card {
    opacity: 0.5;
    cursor: not-allowed;
}

.form-select.rounded-pill {
    background-color: #1a1a3b;
    color: #fff;
    border: 2px solid #a882d0;
    font-weight: bold;
}

.form-select.rounded-pill option {
    background-color: #1a1a3b;
    color: #fff;
}

.btn-primary.rounded-pill {
    background: #fafb63;
    border: none;
    color: #1a1a3b;
    font-weight: bold;
    transition: all 0.2s ease;
}

.btn-primary.rounded-pill:hover {
    transform: scale(1.05);

}

.iconos-nav img {
    transition: transform 0.2s ease;
}

.iconos-nav a:hover img {
    transform: scale(1.2);
    }

.icono {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    width: max-content;
    background-color: rgba(14, 6, 23, 0.7);
    color: #fff;
    text-align: center;
    padding: 4px 8px;
    border-radius: 4px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease, bottom 0.3s ease;
    white-space: nowrap;
    font-size: 0.8rem;
}

.icono:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    top: 140%;
}
.boton-cerrar-container {
    position: fixed;      /* Hace que siempre esté visible en pantalla */
    bottom: 30px;         /* Separación del borde inferior */
    left: 30px;           /* Separación del borde izquierdo */
    z-index: 1000;
}
.boton-cerrarSesion {
    background-color: rgba(248, 185, 185, 0.55);
    border:4px solid #7f0c0c;
    color: #7f0c0c;
    border-radius: 25px;
    padding: 8px 30px;
    font-size: 1.1rem;
    font-weight: 800;
    transition: 0.3s;
}

.boton-cerrarSesion:hover {
    background-color: #b61f1a;
    color: white;
    transform: scale(1.05);
}

.lock-icon.unlock-color {
    color: #28a745;
}
.lock-icon.lock-color {
    color: #dc3545;
}


.texto-paga {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    text-align: center;
    color: rgba(170, 170, 168, 0.89);
    font-size: 1.0rem;
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 2;
}

.sala-card:hover .texto-paga {
    opacity: 1;
}