body {
    background: linear-gradient(to right, #390973, #0e1e5f);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    margin: 0;
}

header {
    padding: 10px;
}
.navbar-custom .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo-escape {
    width: 60px;
}

.contenedor-partida {
    border-radius: 16px;
    margin: auto;
    padding-top: 20px;
    text-align: center;
    backdrop-filter: blur(1px);

}
.contenedor-titulo {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.contenedor-etapa-sala{
    width:40%;
    border-radius: 30px;
    margin: auto;
    text-align: center;
}
.titulo-sala {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    color: #ffeb3b;
    letter-spacing: 1px;
    font-size: 4.0rem;
    margin: 0;
    padding-top:10px;
    text-align: center;
    white-space: nowrap;
}

h3 {
    color: #d3c7ff;
    font-size: 1.3rem;
    font-weight: 700;
}

.nombre-etapa{
    color: #9f56ff;
    font-size: 2.7rem;
    font-family:'Rajdhani', sans-serif;

    border-radius: 10px;
    margin: auto;
    width:70%;
}

.text-muted {
    color: #b6b6b6 !important;
    font-size: 0.9rem;
}
.texto-etapa{
    color: #bfb6e5;
    font-size: 1.1rem;

}

.texto-acertijo {
    background-color: rgba(41, 23, 88, 0.45);
    border-radius: 12px;
    padding: 15px;
    margin: 20px auto;
    color: #f5f5f5;
    width: 45%;
    font-size: 1rem;
    line-height: 1.6;
}

.acertijo-contenido {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.acertijo-contenido .acertijo {

    font-size: 1.2rem;
    text-align: left;
    margin-left: 20px;

}
.acertijo-contenido .pregunta {

    font-size: 1.4rem;
    color:#ffeb3b;
    text-align: left;
    margin-left: 20px;

}

.img-etapa {
    width: 180px;
    margin-left: 20px;
}

.input-respuesta {
    border-radius: 50px;
    padding: 12px 25px;
    border: none;
    outline: none;
    font-size: 1rem;
    text-align: center;
    background-color: #f5f5f5;
    color: #333;
}

.input-group-text {
    background: transparent;
    border: none;
    color: #ffeb3b;
    font-size: 1.7rem;
    cursor: pointer;
}

.btn-enviar {
    background-color: #9f92fc;
    color: #3c247b;
    font-weight: bold;
    border-radius: 50px;
    padding: 6px 15px;
    border: none;             /* Fijo */
    outline: none;            /* Fijo */
    box-shadow: none;         /* Fijo */
}

.btn-enviar:hover,
.btn-enviar:focus,
.btn-enviar:active {
    border-radius: 50px;
    background-color: #ded8f6;
    color: #7f23f4;
    font-weight: bold;
    border: none;

}

.btn-pista {
    background: rgba(171, 126, 229, 0.4);
    color: #251254;
    border: 4px solid #450a8a;
    border-radius: 50px;
    padding: 8px 15px;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.3s;

}

.btn-pista:hover {
    cursor: pointer;
    background-color: #450a8a;
    color: white;
    border: 4px solid #450a8a;
    transform: scale(1.05);
}


.boton-salir-container {
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.boton-salir {
    background-color: rgba(236, 134, 134, 0.64);
    border:4px solid #7f0c0c;
    color: #7f0c0c;
    border-radius: 25px;
    padding: 10px 35px;
    font-size: 1.0rem;
    font-weight: 700;
    transition: 0.3s;
}

.boton-salir:hover {
    background-color: #b61f1a;
    color: white;
    transform: scale(1.05);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

/* Contenido del modal */
.modal-content {
    background-color: rgba(25, 11, 47, 0.82);
    padding: 20px;
    width: 40%;
    border-radius: 8px;
    text-align: center;
    color: #ffffff;
    font-size: 1.2rem;
}


.modal-buttons button {
    margin: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#confirmarSalir {
    background-color: #aa1b0b;
    color: white;
}

#cancelarSalir {
    background-color: #0a50b9;
    color: white;
}


.contador-timer {
    font-size: 2.3rem;
    font-weight: bold;
    color: #c50000;
    padding: 10px 20px;
    border-radius: 10px;
    width: 100px;
    margin-right: 20px;
    text-align: center;
}

.puntaje-container {
    position: relative;
    display: inline-block;
    color: #0baf0b;
}

.animacion-puntos {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ff3b3b;
    opacity: 0;
    transform: translateY(0);
    transition: all 0.8s ease-out;
    pointer-events: none;
}

.animacion-puntos.mostrar {
    opacity: 1;
    transform: translateY(+20px);
}

.img-acertijo {
    width: 180px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.2s;
    background-color: rgba(0, 0, 0, 0.36);
    border-radius:20px;
}

.img-acertijo.seleccionada {
    border: 2px solid #007bff;
}

.numero-seleccion {
    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
    background: #007bff;
    color: white;
    padding: 2px 8px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
}
.pos-relative {
    position: relative;
}


.drag-item {
    cursor: grab;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    /* Aumentamos la prioridad de esta regla */
    flex: 0 0 110px !important; /* Forzar el ancho del contenedor a solo 110px */
    max-width: 110px !important; /* Asegurar que no crezca más */
    padding: 5px;
}


.drag-item img {

    width: 100px !important;
    height: auto;
    border-radius: 5px;
}

.drag-item.dragging {
    opacity: 0.7;
    transform: scale(1.05);
}


.drop-slot {
    min-width: 300px;
    text-align: center;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    padding: 15px;
    border: 2px dashed #ddd;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.45);
}

.drop-slot.over {
    background-color: #f0f8ff;
    border-color: #66b3ff;
}

.drop-slot h6 {
    margin-bottom: 10px;
    font-weight: 600;
    text-align: center;
}


.drop-items {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}


.drop-items .drag-item img {
    width: 100%;
    max-width: 120px;
    height: auto;
    border-radius: 5px;
}

.zona-secreta {
    position: absolute;
    top: 95%;      /* Ajustá según dónde querés que esté */
    left: 10%;
    width: 70px;  /* Tamaño del área clickeable */
    height: 70px;
    cursor: pointer;
    background-color: transparent;
    z-index: 50;
}

/* Solo para pruebas — para ver dónde está. Luego quitás esto. */
.zona-secreta-debug {
    background-color: rgba(255, 0, 0, 0.2);
}

.modal-content.bonus {
    background-color: rgba(0 0 0 / 72%);
    padding: 30px;
    width: 60%;
    max-width: 900px;
    border-radius: 12px;
    text-align: center;
    color: #ffffff;
    font-size: 1.2rem;
    box-shadow: 0 0 25px rgba(0,0,0,0.4);
}