<div th:fragment="dragdrop">


    <form th:action="@{/partida/validar/{idSala}/{numeroEtapa}(idSala=${salaElegida.id}, numeroEtapa=${etapa.numero})}"
          method="post" class="d-flex flex-column align-items-center">

        <div id="drag-items" class="d-flex gap-3 flex-wrap justify-content-center mb-3">
            <div th:each="item : ${acertijo.dragDropItems}" class="drag-item p-2 border rounded"
                 draggable="true"
                 th:data-id="${item.id}"
                 th:data-correcta="${item.categoriaCorrecta}">
                <img th:src="@{'/img/acertijo/' + ${item.contenido}}" style="width:100px;">
            </div>
        </div>

        <div id="drop-container" class="d-flex gap-3 flex-row justify-content-center mb-3">
            <div th:each="cat : ${categorias}"
                 class="drop-slot p-3 border rounded"
                 th:data-categoria="${cat}"
                 th:text="${cat}">
            </div>
        </div>

        <input type="hidden" name="respuesta" id="respuestaDragDrop">

        <button type="submit" class="btn btn-enviar mt-3">Enviar</button>
    </form>

</div>
