<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Ranking de Sala</title>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <link rel="stylesheet" th:href="@{/css/editarperfil.css}"/>

</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">ESCAPE ROOM</a>
            <div class="d-flex">
                <button class="btn btn-outline-light rounded-circle me-2"><i class="bi bi-person"></i></button>
                <button class="btn btn-outline-light"><i class="bi bi-list"></i></button>
            </div>
        </div>
    </nav>
</header>

<div class="contenedor">

    <div class="titulo">
        <h1>Editar Perfil</h1>
    </div>


    <form th:action="@{/perfil/actualizar}" method="post">
        <input type="hidden" name="idUsuario" th:value="${perfil.id}">

        <div class="conytenedorNombre">
            <label>Nuevo nombre:</label>
            <input type="text" name="nuevoNombre" th:value="${perfil.nombre}" required minlength="6"><br><br>

        </div>

        <div class="contenedorLogros">
            <label>Seleccioná tus logros favoritos (máx 3):</label><br>

            <div th:each="logro : ${todosLogros}">
                <label>
                    <input type="checkbox" name="idsLogrosFavoritos" th:value="${logro.id}">
                    <span th:text="${logro.nombre}"></span> - <small th:text="${logro.descripcion}"></small>
                </label>
            </div>

        </div>

        <div class="btnGuardar">
            <button type="submit">Guardar</button>
        </div>
    </form>

    <a th:href="@{/perfil/ver(idUsuario=${perfil.id})}">Volver</a>

</div>

</body>

</html>