<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Sala</title>

    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <link rel="stylesheet" th:href="@{/css/sala.css}"/>
</head>
<body th:style="|background-image: url('@{/img/{img}(img=${sala.imagenGanada})}');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;|">


<header>
    <nav class="navbar navbar-expand-lg mb-5">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/inicio/}">
                <img class="logo-escape" th:src="@{/img/Logo.png}" alt="Logo">
            </a>
        </div>
    </nav>
</header>

<main class="main-container">

    <div class="partida-finalizada text-center mt-4">
        <h1 class="titulo-final fw-bold">Felicidades!</h1>
        <p class="fs-5">Lograste salir con vida</p>

        <div class="d-flex flex-row justify-content-center g-2">
            <h5 class="ms-2 fw-bold" th:if="${partida != null}">
                Puntaje total: <span class="fw-light" th:text="${partida.puntaje} + ' pts'"></span>
            </h5>

            <h5 class="ms-3 fw-bold" th:if="${partida != null}">
                Tiempo: <span class="fw-light" th:text="${partida.tiempoTotal}  + ' seg'"></span>
            </h5>
        </div>


        <div class="d-flex justify-content-center gap-3 mt-3">
            <a th:href="@{/inicio/}" class="btn btn-inicio">Ir al inicio</a>
        </div>
    </div>


</main>

</body>
</html>