<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Perfil del Jugador</title>

    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/perfilJugador.css}"/>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a th:href="@{/inicio/}">
                <img class="logo-escape ms-3" style="width: 60px" alt="logo" th:src="@{/img/Logo.png}">
            </a>
            <h1 class="navbar-brand mt-3 mx-auto" style="padding-left: 80px;">ESCAPE ROOM</h1>
            <div class="d-flex">
                <a class="icono me-3" th:href="@{/ranking/}">
                    <img th:src="@{/img/icono-ranking.png}" alt="img-ranking" style="width: 50px">
                </a>
                <a class="icono me-3" th:href="@{/cerrar-sesion}">
                    <img th:src="@{/img/iconoLogOut.png}" alt="img-logout" style="width: 50px">
                </a>
            </div>
        </div>
    </nav>
</header>

<main>
    <div class="contenedor mt-5">

        <div class="perfil-header mt-2">

            <div class="perfil-foto-area">
                <div id="previewContainer" class="contenedorFoto">
                    <img th:if="${usuario.fotoPerfil != null}"
                         th:src="@{${usuario.fotoPerfil}}" alt="Foto de perfil" id="preview">

                    <img th:unless="${usuario.fotoPerfil != null}"
                         th:src="@{/img/perfil-default.png}"
                         style="width: 220px;"
                         alt="Foto por defecto" id="preview-default">
                </div>

                <div id="fileUpload" class="mt-2 text-center fileUpload">
                    <input id="imagen" type="file" hidden name="imagen" accept=".png, .jpg, .jpeg">
                </div>
            </div>

            <div class="perfil-info-area ms-4">
                <h1 class="nombre-usuario" th:text="${usuario.nombreUsuario}"></h1>

                <p class="perfil-dato-completo" th:text="${usuario.nombre} + ' ' + ${usuario.apellido}"></p>
                <p class="perfil-dato-completo" th:text="'Fecha de Nac: ' + ${usuario.fechaNacimiento}"></p>

                <a class="btn btn-sm btn-editar mt-3" th:href="@{/configuracion/editar}">Editar perfil</a>
            </div>

        </div>
        <hr class="perfil-divisor">

        <div class="d-flex justify-content-center">
            <a  th:href="@{/historial/}" class="btn btn-historial btn-lg mt-4 text-center">Ver Historial</a>
        </div>

    </div>
</main>


<script th:src="@{/js/perfil.js}"></script>
</body>
</html>