<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Sala</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/sala.css}"/>
</head>
<body>

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div>
            <a th:href="@{/inicio/}">
                <img class="logo-escape" style="width: 60px" th:src="@{/img/Logo.png}">
            </a>
        </div>
    </div>
</nav>

<!-- Contenido principal -->
<div class="container" th:if="${SalaObtenida != null}">
    <h1 th:text="${SalaObtenida.nombre}"></h1>
    <div  class="nivel" th:text="${SalaObtenida.dificultad}"></div>

    <p class="historia" th:text="${SalaObtenida.historia}"> </p>

    <img src="https://via.placeholder.com/120x200/6c63ff/ffffff?text=DOOR" class="door-img" alt="Puerta">

    <div>
        <button class="btn btn-primary">ESTOY LISTO</button>
        <button class="btn btn-danger">ELEGIR OTRA SALA</button>
    </div>

    <p class="nota">
        Una vez que entres a la sala, el cronómetro comenzará a correr.
        Tu misión es resolver los acertijos antes de que el tiempo llegue a cero.
    </p>
</div>

<h3 th:if="${error != null}" th:text="${error}" class="text-danger"></h3>

</body>

</html>